body 
{
    width: 900px;
    position: relative;
    margin: auto;
    padding: 0;
    overflow-x: hidden;
    font-size: 17px;
}
main
{
    width: 100%;
}
header
{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    font-size: 30px;
    background-color: #49927C;
    text-align: center;
    color: #FFD54F;
    font-family: 'quebec';
}    
footer
{
    width: 900px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #49927C;
    font-size: 25px;
    color: #FFD54F;
    font-family: 'stem';
    bottom: 0;
    position: fixed;
}
.titre
{
    font-family: 'Public';
    text-align: center;
    font-size: 30px;
}
h2
{
    color: #4A2121;
    font-family: 'Devonshire';
    font-size: 34px;
    text-align: center;
    margin: auto;
    margin-bottom: 6px;
}
h4
{
    color: #4A2121;
    font-family: 'Devonshire';
    font-size: 30px;
    text-align: center;
    margin: auto;
}
.menu1
{
    background-color: #FFE3DD;
    box-shadow: 0px 0px 25px #CFD8DC;
    padding-top: 55px;
     margin-bottom: 20%;
}
.platprix{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    font-family: 'Segoe';
    margin-top: 2%;
}
h3
{
    font-family: 'Segoe';
    font-weight: bold;
     color: #4A2121;
     text-align: center;
     margin: auto;
      display: table;
  white-space: nowrap;
  margin-top: 7px;
      margin-bottom: 8px;
}
h3:hover
{
 position: relative;
}
h3:after
{
  content:'';
  position: absolute;
  width: 0;
  height: 4px;
  border-radius: 35%;
  display: block;
  margin-top: 1px;
  transition: width 1s ease;
}
h3:hover:after
{
 width: 100%;
 left: 0px;
 background: #4A2121;
}
.iconeHeader
{
    font-size: 55px;
    width: -webkit-fill-available;
    text-align: center;
    background: linear-gradient(109deg, #FE6060 50%, #FA9163 53%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.iconeFooter
{
    font-size: 55px;
    width: -webkit-fill-available;
    text-align: center;
    background: linear-gradient(109deg, #FE6060 50%, #FA9163 65%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.mentions
{
    padding: 25px;
    color: #FFD54F;
}
.mentions:hover
{
    animation: wiggle 0.4s infinite ;
  animation-timing-function: linear;   
}
.contact
{
    padding: 25px;
    color: #FFD54F;
}
.contact:hover
{
    animation: wiggle 0.4s infinite ;
  animation-timing-function: linear;   
}
a
{
    text-decoration: none;
}
@font-face
{
    font-family: 'quebec';
    src: url(quebec-serial-heavy-regular.ttf);
}
@font-face
{
    font-family: 'Stem';
    src: url(Stem-Regular.ttf);
}
@font-face 
{
    font-family: 'Segoe';
    src: url('Segoe-Print-Bold.ttf');
}
@font-face 
{
    font-family: 'Devonshire';
    src: url('Devonshire-Regular.ttf');
}
@font-face
{
    font-family: 'Public';
    src:url('PublicSans-Bold.ttf');
}

.myArticle
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 50px;
}

.myArticleNote
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 8%;
    padding-top: 2%;
}

.laNote{
    display: flex;
    margin-left: 4%;
}

.mestraits{
    display: flex;
    flex-direction: row;
}
.traitdroit
{
    width: 28%;
    height: 6px;
    background-color: #4A2121;
    margin: auto;
    margin-right: 80px;
    border-radius: 35%;
}
.traitgauche
{
    width: 28%;
    height: 6px;
    background-color: #4A2121;
     margin: auto;
     margin-left: 80px;
     border-radius: 35%;
}
.prix
{
    margin-right: 80px;
}
.plat
{
    margin-left: 80px;
        width: 100%;
}
@keyframes wiggle {
  0% { transform: translate(2px, 0); }
  25% { transform: translate(-2px, 0); }
  50% { transform: translate(2px, 0); }
  75%{ transform: translate(-2px, 0); }
  100% { transform: translate(2px, 0); }
}

@media only screen and (max-width: 900px){
    body {
        width: 100%;
        flex-direction: column;
    }
    footer {
        width: 100%;
    }
.platprix{
    flex-direction: column;
}
 .prix
    {
        margin:auto;
        text-align: center;
        margin-left: 100px;
    }
    .plat{
        margin-left: 100px;
    }
     .menu1
    {
        margin-bottom: 20%;
    }
}


@media only screen and (max-width: 780px){
    body {
        width: 100%;
        flex-direction: column;
    } 
    footer {
        width: 100%;
    }
    .platprix{
        flex-direction: column;
        font-size: 15px;
        width: 75%;
        margin-right: 40px;
    }
    .plat{
        margin-left: 100px;
    }
    .prix
    {
        margin:auto;
        text-align: center;
        margin-left: 100px;
    }
    .mentions{
        font-size: 15px;
    }
    .contact{
        font-size: 15px;
    }
     .menu1
    {
        margin-bottom: 20%;
    }
}
@media only screen and (max-width: 650px){
    body {
        width: 100%;
        flex-direction: column;
    } 
    footer {
        width: 100%;
    }
    .platprix{
        flex-direction: column;
        font-size: 12px;
        width: 75%;
        margin-right: 40px;
    }
    .plat{
        margin-left: 70px;
    }
    .prix
    {
        margin:auto;
        text-align: center;
        margin-left: 70px;
    }
    .mentions{
        font-size: 15px;
    }
    .contact{
        font-size: 15px;
    }
     .menu1
    {
        margin-bottom: 20%;
    }
}
@media only screen and (max-width: 500px){
    body {
        width: 100%;
        flex-direction: column;
    } 
    footer {
        width: 100%;
    }
    .platprix{
        flex-direction: column;
        font-size: 12px;
        width: 75%;
        margin-right: 40px;
    }
    .plat{
        margin-left: 50px;
    }
    .prix
    {
        margin:auto;
        text-align: center;
        margin-left: 50px;
    }
    .mentions{
        font-size: 15px;
    }
    .contact{
        font-size: 15px;
    }
    h3
    {
        text-align: center;
    }
    .menu1
    {
        margin-bottom: 30%;
    }
}