body 
{
    width: 900px;
    position: relative;
    margin: auto;
    padding: 0;
    display: flex;
    overflow-x: hidden;
    font-size: 17px;
}
main
{
    width: 100%;
}
header
{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    font-size: 30px;
    background-color: #49927C;
    text-align: center;
    color: #FFD54F;
    font-family: 'quebec';
}    
footer
{
    width: 900px;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #49927C;
    font-size: 25px;
    color: #FFD54F;
    font-family: 'stem';
    bottom: 0;
    position: fixed;
}
h2
{
    font-size: 50px;
    padding-top: 65px;
    padding-bottom: 15px;
    text-align: center;
    font-family: 'Kaushan';
    padding-bottom: 10px;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-image: -webkit-linear-gradient(163deg, #9BEE71 40%, #6DB947 54%, #328708 83%);
}
h3
{
     font-family: 'Segoe';
     text-align: center;
     line-height: 0em;
}
h3:hover
{
 position: relative;
}
h3:after
{
      content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 14px;
    transition: width 1s ease;
}
h3:hover:after
{
 width: 100%;
 left: 0px;
 background: black;
}
article
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 35px;
}
.plat
{
    margin-left: 90px;
    margin-top: 10px;
    width: 100%;
    font-size: 15px;
}
.prix
{
   margin-right: 90px;
   font-size: 22px;
}
.platprix
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    font-family: 'Segoe';
    margin-top: 2%;
}
.menu4
{
    background-color: #FFFFFC;
    box-shadow: 0px 0px 25px #CFD8DC;
            margin-bottom: 20%;
}
.mentions
{
    padding: 25px;
    color: #FFD54F;
}
.mentions:hover
{
    animation: wiggle 0.4s infinite ;
  animation-timing-function: linear;   
}
.contact
{
    padding: 25px;
    color: #FFD54F;
}
.contact:hover
{
    animation: wiggle 0.4s infinite ;
  animation-timing-function: linear;   
}
a
{
    text-decoration: none;
}
@font-face
{
    font-family: 'quebec';
    src: url(quebec-serial-heavy-regular.ttf);
}
@font-face
{
    font-family: 'Stem';
    src: url(Stem-Regular.ttf);
}
@font-face 
{
    font-family: 'Segoe';
    src: url('Segoe-Print-Bold.ttf');
}
@font-face 
{
    font-family: 'Kaushan';
    src: url('KaushanScript-Regular.ttf');
}
.mestraits{
    display: flex;
    flex-direction: row;
}
.traitdroit
{
    width: 30%;
    height: 7px;
    margin:auto;
    margin-right: 45px;
    background-image: -webkit-linear-gradient(163deg, #328708 20% , #6DB947 54%, #9BEE71 83%);
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
}
.traitgauche
{
    width: 30%;
    height: 7px;
    margin:auto;
    margin-left: 45px;
   background-image:-webkit-linear-gradient(163deg, #9BEE71 20%, #6DB947 54%, #328708 83%);
   border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
}
@keyframes wiggle {
  0% { transform: translate(2px, 0); }
  25% { transform: translate(-2px, 0); }
  50% { transform: translate(2px, 0); }
  75%{ transform: translate(-2px, 0); }
  100% { transform: translate(2px, 0); }
}


@media only screen and (max-width: 700px){
    body {
        width: 100%;
        flex-direction: column;
    } 
    footer {
        width: 100%;
    }
    .platprix{
        flex-direction: column;
        width: 75%;
        margin-right: 40px;
    }
    .plat{
        margin-left: 30px;
        font-size: 15px;
    }
    .prix
    {
        margin-left: 30px;
    }
    .mentions{
        font-size: 15px;
    }
    .contact{
        font-size: 15px;
    }
.traitdroit
{
    width: 26%;
}
.traitgauche
{
    width: 26%;
}
h3{
    font-size: 15px;
}
.menu4
    {
        margin-bottom: 20%;
    }
}
@media only screen and (max-width: 580px){
    body {
        width: 100%;
        flex-direction: column;
    } 
    footer {
        width: 100%;
    }
    .platprix{
        flex-direction: column;
        width: 75%;
        margin-right: 40px;
    }
    .plat{
        margin-left: 30px;
        font-size: 15px;
    }
    .prix
    {
        margin-left: 30px;
    }
    .mentions{
        font-size: 15px;
    }
    .contact{
        font-size: 15px;
    }
.traitdroit
{
    width: 26%;
    margin-right: 10px;

}
.traitgauche
{
    width: 26%;
    margin-left: 10px;
}
h3{
    font-size: 15px;
}
.menu4
    {
        margin-bottom: 20%;
    }
}
@media only screen and (max-width: 460px){
    body {
        width: 100%;
        flex-direction: column;
    } 
    footer {
        width: 100%;
    }
    .platprix{
        flex-direction: column;
        width: 75%;
        margin-right: 40px;
    }
    .plat{
        margin-left: 20px;
         font-size: 11px;
    }
    .prix
    {
        margin-left: 30px;

    }
    .mentions{
        font-size: 15px;
    }
    .contact{
        font-size: 15px;
    }
.traitdroit
{
    width: 26%;
margin-right: 0px;
}
.traitgauche
{
    width: 26%;
    margin-left: 0px;
}
h3{
    font-size: 13px;
}
h2{
    font-size: 35px;
}

.menu4
    {
        margin-bottom: 30%;
    }
}
