body 
{
    width: 900px;
    position: relative;
    margin: auto;
    padding: 0;
    overflow-x: hidden;
    font-size: 17px;
}
header
{
	width: 900px;
    display: flex;
    flex-direction: column;
	margin-bottom: 45px;
    font-size: 30px;
	background-color: #49927C;
	text-align: center;
	color: #FFD54F;
    font-family: 'quebec';
}    
article
{
	margin-top: 25px;
	display: flex;
	flex-direction: row;
} 
footer
{
    width: 900px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #49927C;
    font-size: 25px;
    font-family: 'stem';
    bottom: 0;
    position: fixed;
}

.menus
{
    margin: 40px; 
}

i
{
    font-size: 43px;
    text-align: center;
    background: linear-gradient(109deg, #FE6060 50%, #FA9163 85%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin: auto;
}
.menu1
{
    width: 325px;
    height: 450px;
    background-color: #FFE3DD;
    box-shadow: 0px 0px 25px #CFD8DC;
    display: flex;
    flex-direction: column;
    transition: all 1s ease;
}
.Lanote
{
    color: #4A2121;
    font-family: 'Devonshire';
    font-size: 34px;
    text-align: center;
}
.menu1:hover
{
    opacity: 0.4;
}
.MENU1police
{
    color: #4A2121;
    font-family: 'Segoe';
    font-size: 40px;
    text-align: center;
}
.titremenu
{
     text-align: center;
     transition: all 1s ease;
     margin: auto;

}
.titremenu:hover
{
    transform: scale(1.3);
}
.menu2
{
    width: 325px;
    height: 450px;
    background-color: #FFF5FC;
    box-shadow: 0px 0px 25px #CFD8DC;
    font-family: 'CroissantOne';
    display: flex;
    flex-direction: column;
    transition: all 1s ease;
}
.menu2:hover
{
    opacity: 0.4;
}
.MENU2police
{
    font-family: 'RozhaOne';
    color: #C47119;
    font-size: 40px;
    text-align: center;
}
.Lechic
{
   background: linear-gradient(171deg, #D18115 31%, #9F668F 54%, #9D67E9 62%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: larger;
   text-align: center;
}
.menu3
{
    width: 325px;
    height: 450px;
    background-color: #F5F4F4;
    box-shadow: 0px 0px 25px #CFD8DC;
    display: flex;
    flex-direction: column;
    transition: all 1s ease;
}
.menu3:hover
{
    opacity: 0.4;
}
.MENU3police
{
    color: #2080E7;
    font-family: 'Segoe';
    font-size: 40px;
    text-align: center;
}
.Ledélice
{
    font-family: 'DancingScript';
    background: linear-gradient(162deg, #092ABE 35%, #2080E7 53%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-align: center;
   font-size: 32px;
}
.menu4
{
    width: 325px;
    height: 450px;
    background-color: #FFFFFC;
    box-shadow: 0px 0px 25px #CFD8DC;
    display: flex;
    flex-direction: column;
    transition: all 1s ease;
}
.menu4:hover
{
    opacity: 0.4;
}
.MENU4police
{
    color: #6DB947;
    font-family: 'Segoe';
    font-size: 40px;
    text-align: center;
}
.Lapalette
{
    font-family: 'Kaushan';
    font-size: 25px;
    text-align: center;
    background: linear-gradient(166deg, #328708 34%, #6DB947 49%, #9BEE71 54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
@font-face 
{
    font-family: 'Devonshire';
    src: url('Devonshire-Regular.ttf');
}
@font-face 
{
    font-family: 'Segoe';
    src: url('Segoe-Print-Bold.ttf');
}
@font-face 
{
    font-family: 'Kaushan';
    src: url('KaushanScript-Regular.ttf');
}
@font-face 
{
    font-family: 'CroissantOne';
    src: url('CroissantOne-Regular.ttf');
}
@font-face 
{
    font-family: 'DancingScript';
    src: url('DancingScript-VariableFont.ttf');
}
@font-face 
{
    font-family: 'RozhaOne';
    src: url('RozhaOne-Regular.ttf');
}
@font-face
{
    font-family: 'quebec';
    src: url(quebec-serial-heavy-regular.ttf);
}
@font-face
{
    font-family: 'Stem';
    src: url(Stem-Regular.ttf);
}
a
{
    text-decoration: none;
}
.mentions
{
    padding: 25px;
    color: #FFD54F;
}
.mentions:hover
{
    animation: wiggle 0.4s infinite ;
  animation-timing-function: linear;   
}
.contact
{
    padding: 25px;
    color: #FFD54F;
}
.contact:hover
{
    animation: wiggle 0.4s infinite ;
  animation-timing-function: linear;   
}
.loading 
{
    display: block;
    font-size: 30px;
    background-color: #49927C;
    color: #FFD54F;
    padding-left: 35px;
    padding-bottom: 10px;
    padding-top: 5px;
    border-radius: 7px;
    width: 28%;
    margin: auto;
    font-family: 'stem';
    margin-bottom: 12%;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;    
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026";
  width: 0px;
}

@keyframes ellipsis {
  to { width: 1.25em; }
}

@keyframes wiggle {
  0% { transform: translate(2px, 0); }
  25% { transform: translate(-2px, 0); }
  50% { transform: translate(2px, 0); }
  75%{ transform: translate(-2px, 0); }
  100% { transform: translate(2px, 0); }
}

@media only screen and (max-width: 850px){
	body {
        width: 100%;
        flex-direction: column;
    } 
    header{
    	width: 100%;
    }
    footer {
        
        width: 100%;
    }
	article{
		flex-direction: column;
	}
    figure {
        margin:auto;
        margin-top: 3%;
    } 
    .loading 
{
    display: block;
    font-size: 25px;
    background-color: #49927C;
    color: #FFD54F;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 5px;
    border-radius: 7px;
    width: 28%;
    margin: auto;
    font-family: 'stem';
    margin-bottom: 12%;
}
@media only screen and (max-width: 720px){
    body {
        width: 100%;
        flex-direction: column;
    } 
    header{
        width: 100%;
    }
    footer {
        
        width: 100%;
    }
    article{
        flex-direction: column;
    }
    figure {
        margin:auto;
        margin-top: 3%;
    } 
    .loading 
{
    display: block;
    font-size: 20px;
    background-color: #49927C;
    color: #FFD54F;
    padding-left: 25px;
    
    padding-bottom: 10px;
    padding-top: 5px;
    border-radius: 7px;
    width: 28%;
    margin: auto;
    font-family: 'stem';
    margin-bottom: 15%;

}
.mentions
{
    font-size: 20px;
}
.contact
{
    font-size: 20px;
}
}
@media only screen and (max-width: 610px){
    body {
        width: 100%;
        flex-direction: column;
    } 
    header{
        width: 100%;
    }
    footer {
        
        width: 100%;
    }
    article{
        flex-direction: column;
    }
    figure {
        margin:auto;
        margin-top: 3%;
    } 
    .loading 
{
    display: block;
    font-size: 17px;
    background-color: #49927C;
    color: #FFD54F;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 5px;
    border-radius: 7px;
    width: 27%;
    margin: auto;
    font-family: 'stem';
    margin-bottom: 20%;

}
.mentions
{
    font-size: 17px;
}
.contact
{
    font-size: 17px;
}
}
@media only screen and (max-width: 500px){
    body {
        width: 100%;
        flex-direction: column;
    } 
    header{
        width: 100%;
    }
    footer {
        
        width: 100%;
    }
    article{
        flex-direction: column;
    }
    figure {
        margin:auto;
        margin-top: 3%;
    } 
    .loading 
{
    display: block;
    font-size: 17px;
    background-color: #49927C;
    color: #FFD54F;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    
    border-radius: 7px;
    width: 33%;
    
    font-family: 'stem';
    margin-bottom: 23%;

}
.mentions
{
    font-size: 17px;
}
.contact
{
    font-size: 17px;
}
@media only screen and (max-width: 415px){
    body {
        width: 100%;
        flex-direction: column;
    } 
    header{
        width: 100%;
    }
    footer {
        
        width: 100%;
    }
    article{
        flex-direction: column;
    }
    figure {
        margin:auto;
        margin-top: 3%;
    } 
    .loading 
{
    display: block;
    font-size: 17px;
    background-color: #49927C;
    color: #FFD54F;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    
    border-radius: 7px;
    width: 40%;
    
    font-family: 'stem';
    margin-bottom: 25%;
}
.mentions
{
    font-size: 15px;
}
.contact
{
    font-size: 15px;
}
.menus
{
    margin-left: 7px;
}
}